<div class="side-bar">
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
    <a [routerLink]="['/']">Some Library Category</a>
</div>