<nav class="navbar navbar-light row">
    <div class="col-md-5 d-flex justify-content-between">
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="https://ui-ex.com/images/claptrap-drawing-easy-1.png" width="30" height="30"
                class="d-inline-block align-top" alt="">
            <span class="d-none d-lg-inline"> ClapTrap</span>
        </a>
        <a class="link" [routerLink]="['/']">
            Home
        </a>
        <a class="link" [routerLink]="['/library/book']">
            Books
        </a>
        <a class="link" [routerLink]="['/library/author']">
            Authors
        </a>
        <a *ngIf="isAdmin" class="link" [routerLink]="['/profile/admin']">
            Admin Panel
        </a>
    </div>

    <div class="col-md-4 d-flex justify-content-between">
        <form class="form-inline d-none d-lg-block search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div *ngIf="!isAuthenticated" class="btn-group">
            <a class="btn btn-outline-info" [routerLink]="['/auth/login']">Log In</a>
            <a class="btn btn-outline-warning" [routerLink]="['/auth/sign-up']">Sing Up</a>
        </div>
        <div *ngIf="isAuthenticated" class="btn-group">
            <a class="btn btn-outline-success profile-account-link" [routerLink]="[ '/profile/account-profile' ]">
                <div>
                    {{userAlias}}
                </div>
            </a>
            <button class="btn btn-outline-danger" (click)="logout()">Sign Out</button>
        </div>
    </div>
</nav>