<div class="row admin-sidebar justify-content-center">
    <span class="title">Admin Panel</span>
    <div class="col-12">
        <div class="row">
            <a class="link col-12" [routerLink]="['/profile/admin']">
                Books
            </a>
            <a class="link col-12" [routerLink]="['/profile/admin']">
                Authors
            </a>
            <a class="link col-12" [routerLink]="['/profile/admin']">
                Users
            </a>
        </div>
    </div>
</div>