<div class="row sign-up-container">
    <div class="col-md-12 text-center sign-up-title">Sign Up</div>

    <div *ngIf="isShowMessage" [ngClass]="isErrorMessage ? 'error-message' : 'success-message'" class="message-block">
        {{message}}
    </div>

    <div class="col-md-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Full Name</span>
            </div>
            <input type="text" class="form-control" placeholder="John Doe" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="fullName">
        </div>
    </div>
    <div class="col-md-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text" class="form-control" placeholder="example@gmail.com" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="username">
        </div>
    </div>
    <div class="col-md-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                aria-describedby="basic-addon1" [(ngModel)]="password">
        </div>
    </div>
    <div class="col-md-12">
        <div class="btn-group col-md-12">
            <button class="btn btn-outline-info col-md-7" (click)="signUp()">Sign Up</button>
            <a class="btn btn-outline-warning col-md-5" [routerLink]="['/auth/login']">Login</a>
        </div>
    </div>

</div>