.login-container {
    margin: 20px auto;
    max-width: 400px;
    background-color: ivory;
    padding: 0 0px 25px 0px;
    border: 1px solid #2F9395;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #2F9395;

    &>.login-title {
        margin-bottom: 20px;
        border-bottom: 3px solid #2F9395;
        font-size: 2em;
    }

    &>.message-block {
        margin: 0 15px 20px 15px;
        padding: 15px 15px;
        width: 100%;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        word-break: break-word;
        border-radius: 10px;
    }

    &>.error-message {
        color: #A6206A;
        box-shadow: 0 0 10px #A6206A, inset 0 0 10px #A6206A;
    }

    &>.success-message {
        color: #2F9395;
        box-shadow: 0 0 10px #2F9395, inset 0 0 10px #2F9395;
    }
}